<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
<template>
    <div id="login">
        <input type="email" v-model="email" />
        <input type="passwod" v-model="password" />
        <button> @click="googleSign">Google Sign In</button>
    </div>
</template>
    <div id="app">
        {{ greeting }}
        
    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function() {
                return {
                    greeting: 'Hello'
                }
            }
        })
        app.mount('#app')
        import firebase from "firebase";
        export default {
            data() {
                return {
                    email: "",
                    password: "",
                };
            },
            method: {
                googleSignIn: function() {
                    const provider = new google.auth.GoogleAuthProvider();
                    firebase.auth().signInWithPopup(provider).then(() => {
                        alert("signed in!");
                    }).catch(err => {
                        console.log(err);
                    });
                },
            },
        };
    </script>
</body>
</html>